<div class="jumbotron">
  <div class="">
    <h1>Get legal advice today!</h1>

    <p>LegalAdvice is the simple way to meet the legal needs of your family and business. Whether you want a quick and simple legal document for free, or have a more complex legal situation requiring the advice of an attorney, we are here to help. </p>

    <p><a class="btn btn-primary btn-lg" role="button" ui-sref="signup">Sign Up &raquo;</a></p>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col-md-4">

      <h3>Easy</h3>
      <p>It was just so easy to use and efficient. We had created a Will before on another site, but we weren’t sure if it was state-specific enough, so we didn’t get it notarized. Step-by-step process put us at ease, and felt like a site we could trust.</p>

    </div>
    <div class="col-md-4">

      <h3>Affordable</h3>
      <p>I must have lucked out when I found this site. They went above and beyond to help me form my LLC and follow my dreams to help other people. They really make me feel like I'm in good hands. </p>

    </div>
    <div class="col-md-4">

      <h3>Reliable</h3>
      <p>This site got me in touch with a great attorney—he was quick to respond and gave me really helpful advice on my new business and liability. I can't wait to keep working with him.</p>

    </div>
  </div>
</div>
